body{
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#search input{
	padding: 6px 10px;
	margin: 12px;
	border: none;
	outline: none;
	border-radius: 15px;
	background: rgba(255,255,255,.5) url('../img/search.png') 92%/20px no-repeat;
	font: 1em Tahoma;
	color: #111;
}



.icon{
	width: 45%;
}

.col-md-3, .col-md-2{
	margin-top: 20px;
	margin-left:10px;
	width: 100%;
}

.required:after {
    content:" *";
    color: red;
  }
.required, .not_required{
	color:rgb(51, 50, 50);
	font-family: Tahoma;
	font-size: 1,3em !important;
	font-weight: bold;
}
#main{
	margin-top:3em;
}

.container{
	height: 100%;
	align-content: center;
	}
	
	.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
	}
	
	.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
	}
	
	.social_icon span:hover{
	color: white;
	cursor: pointer;
	}
	
	.card-header h3{
	color: white;
	}
	
	.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
	}
	
	.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
	}
	
	input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
	
	}
	
	.remember{
	color: white;
	}
	
	.remember input
	{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
	}
	
	.login_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
	}
	
	.login_btn:hover{
	color: black;
	background-color: white;
	}
	
	.links{
	color: white;
	}
	
	.links a{
	margin-left: 4px;
	}